.app {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  .back-img;
  background-color: @app-background;

  color: @font-color;
}

.app__btn {
  .font(18px; 18px);
  .link;
  color: @font-color;

}


.systems__item {
  .li;
}

.systems__link{
  .link;
  color: @font-color;
}

.app__intro {
  .font(14px; 24px);
}
