.btn() {
  .size(280px; 55px);
  box-sizing: border-box;
  padding: 15px;

  .font(18px; 18px);
  font-weight: bold;
  border: 3px solid @font-color;
  color: @font-color;
  border-radius: 30px;
  background-color: transparent;
  text-align: center;

  cursor: pointer;
}

.btn-form() {
  .size(280px; 63px);
  box-sizing: border-box;

  .font(18px; 30px);
  font-weight: bold;
  color: @font-color;
  background-color: @btn-form;
  border-radius: 5px;
  text-transform: uppercase;

  cursor: pointer;
}
