.contacts__item {
  .li;
}

.contacts__intro {
  .font(24px; auto);
  color: @nav-color;
}

.contacts__title {
  .font(18px; auto);
  font-weight: @bold;
  color: @nav-color;
}

.contacts__description {
  .font(24px; auto);
  color: @important;
}

.contacts__phone {
  .link;
  .font(24px; auto);
  color: @important;
}
