.contacts__list {
  padding: 0;
}

.contacts__item {
  .li;
}

.contacts__intro {
  font-size: 24px;
  color: @nav-color;
  font-weight: @lighter;
}

.contacts__title {
  font-size: 18px;
  font-weight: @bold;
  color: @nav-color;
}

.contacts__description {
  font-size: 24px;
  color: @important;
  font-weight: @lighter;
}

.contacts__phone {
  .link;
  font-size: 24px;
  color: @important;
  font-weight: @lighter;
}
