.copyright__text {
  .font(14px; 18px);
  color: @nav-color;
}

@media (min-width: @tablet-width) {
  .page-footer__copyright {
    width: 136px;
    margin-top: 5px;
    margin-right: -6px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__copyright {
    width: 160px;
  }
  .copyright__text {
    .font(18px; 18px);
  }
}
