.photo__items {
  padding: 0;
}
.photo__item {
  width: 280px;
  margin: 0 auto;
  .li;
  background-color: @main-bg-color;

  &--panorama {
  width: 320px;
}
}

.photo__post {
  .font(14px; 24px);
  color: @nav-color;
}

.photo__author-name {
  font-weight: @bold;
  font-style: normal;

}

.photo__time {
  .font(12px; 24px);
}

.photo__likes {
  .font(12px; 24px);
  color: @important;
}
