.price__wrapper {
  background-color: @main-bg-color;
}

.price__value {
  .font(18px; 30px);
  text-transform: @font-transform;

  background-color: @nav-color;
  color: @font-color;
  font-weight: @lighter;
}

.price__name {
  font-weight: @bold;
}

.price__description {
  .font(14px; 30px);
  text-transform: @font-transform;
  color: @nav-color;
}
