.proposal {
  margin-bottom: 45px;
}
.proposal__intro {
  font-size: 24px;
  color: @nav-color;
  font-weight: 300;
}

.proposal__title {
  .font(18px; 24px);
  font-weight: bold;
}

.proposal__description {
  .font(14px; 24px);
  color: @nav-color;
}

.proposal__list {
  background-color: @main-bg-color;
}

.proposal__item {
  .li;
  color: @black;
}
