
.reivew {
  margin-bottom: 110px;
}

.reivew__author {
  margin: 0;
  margin-bottom: 15px;
  .font(18px; 30px);
  font-weight: bold;
}

.reivew__description {
  margin: 0;
  .font(14px; 30px);
  color: @nav-color;
}

.reivew__list {
  .ul;
}

.reivew__item {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.reivew__author-person {
  display: none;
}

@media (min-width: @tablet-width) {
  .reivew__list {
    width: 690px;
    margin: auto;
  }

  .reivew__author {
    margin: 0;
    margin-top: 35px;
    order: 1;
    .font(20px; 30px);
  }

  .reivew__description {
    margin: 0;
    .font(18px; 30px);
  }

  .reivew__author-person {
    margin: 0;

    display: block;
    .font(14px; 30px);
    order: 1;
  }
}

@media (min-width: @desktop-width) {
    .reivew__author {
      margin-bottom: 2px;
      .font(24px; 30px);
    }

    .reivew__author-person {
      .font(18px; 30px);
    }
  }
