@font: opensans, "Arial", sans-serif;
@font-size: 18px;
@font-line: 32px;
@font-color: #ffffff;
@font-transform: uppercase;
@bold: bold;
@normal: normal;


@nav-color: #283645;
@app-background: #1d2631;
@black: #000000;
@main-bg-color: #f2f2f2;
@important: #d22856;
